@(theForm: Form[(String, String, String)], listOfContacts: List[models.Contact])(implicit flash: Flash)

@import bootstrap3._

@main("Create contact"){
    @flashMessages()
    @helper.form(action = routes.ContactControl.doCreateContact, 'novalidate -> "") {
        @text(theForm("name"), label = "Name")
        @text(theForm("phone"), label = "email", inputType = "email")
        @text(theForm("kennitala"), label = "ssn", inputType = "tel")

        <div class="pull-right">
            <input class="btn btn-primary" type="submit" value="Add">
        </div>
    }
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4>Contacts</h4>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>email</th>
            <th>Ssn</th>
            <th></th>
        </thead>
        <tbody>
        @for(c <- listOfContacts){
            <tr>
                <td>@c.name</td>
                <td>@c.phone</td>
                <td>@c.kennitala</td>
                <td><a href="@routes.ContactControl.editContact(c.id.get)">Edit</a></td>
            </tr>
        }
        </tbody>
    </table>
}