@(theForm: Form[(String, String, String)], listOfContacts: List[models.Contact])(implicit flash: Flash)

@import bootstrap3._

@main("Búa til tengilið"){
    @flashMessages()
    @helper.form(action = routes.ContactControl.doCreateContact, 'novalidate -> "") {
        @text(theForm("name"), label = "Nafn")
        @text(theForm("email"), label = "Netfang", inputType = "email")
        @text(theForm("kennitala"), label = "Kennitala", inputType = "tel")

        <div class="pull-right">
            <input class="btn btn-primary" type="submit" value="Bæta við">
        </div>
    }
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4>Tengiliðir</h4>
    <table class="table table-striped">
        <thead>
            <th>Nafn</th>
            <th>Netfang</th>
            <th>Kennitala</th>
            <th></th>
        </thead>
        <tbody>
        @for(c <- listOfContacts){
            <tr>
                <td>@c.name</td>
                <td>@c.contactEmail</td>
                <td>@c.kennitala</td>
                <td><a href="@routes.ContactControl.editContact(c.id.get)">Breyta</a> / <a class="text-danger" href="@routes.ContactControl.deleteContact(c.id.get)">Eyða</a></td>
            </tr>
        }
        </tbody>
    </table>
}