@(id: Long, theForm: Form[(String, String, String)])(implicit flash: Flash)

@import bootstrap3._

@main("Change contact"){
    @flashMessages()
    @helper.form(action = routes.ContactControl.doEditContact(id)) {
        @text(theForm("name"), label = "Name")
        @text(theForm("phone"), label = "e-mail", inputType = "email")
        @text(theForm("kennitala"), label = "ssn", inputType = "tel", pattern = ".{10,10}")

        <div class="pull-right">
            <input class="btn btn-primary" type="submit" value="Edit">
            <a class="btn btn-danger" href="@routes.ContactControl.deleteContact(id)">Delete</a>
        </div>
    }
}