@(listOfDemands: List[models.Demand], isAdmin: Boolean = false)

@main("Listi yfir rukkanir"){
    @if(!listOfDemands.isEmpty){
    <table class="table table-striped table-hover">
        <thead>
            @if(isAdmin){
                <th>Owner</th>
            }
            <th>Date</th>
            <th>Amount</th>
            <th>For</th>
            <th>Recipients</th>
            <th>Status</th>
            <th></th>
        </thead>
        <tbody>
            @for(d <- listOfDemands){
                <tr>
                    @if(isAdmin){
                        <td>@d.userEmail</td>
                    }
                    <td>@d.getDateNoTime</td>
                    <td>@d.amount $</td>
                    <td>@d.description</td>
                    <td><ul class="list-unstyled">@Recipients.findByDemand(d.id).map{x =>
                        <li class="@if(x.paid){text-success}else{text-danger}">
                        @{s"${x.justName}"}
                        </li>
                    }
                    </ul></td>
                    <td>@d.status</td>
                    <td class="link"><a href="@routes.MakeDemand.show(d.id)">Check out</a></td>
                </tr>
            }
        </tbody>
    </table>
    }else{
        <h4 class="text-center">Nothing here yet, go to split to create your first split.</h4>
    }


}

    <script type="text/javascript">

    $(document).ready(function(){

    $('.table > tbody > tr').click(function() {
        var href = $(this).find("a").attr("href");
        if(href) {
        window.location = href;
        }
    });

    });

    </script>