@(listOfDemands: List[models.Demand], isAdmin: Boolean = false)

@main("Listi yfir áminningar"){
    <table class="table table-striped">
        <thead>
            @if(isAdmin){
                <th>Eigandi</th>
            }
            <th>Upphæð</th>
            <th>Vegna</th>
            <th>Móttakendur</th>
            <th>Staða</th>
            <th></th>
        </thead>
        <tbody>
            @for(d <- listOfDemands){
                <tr>
                    @if(isAdmin){
                        <td>@d.userEmail</td>
                    }
                    <td>@d.amount</td>
                    <td>@d.description</td>
                    <td><ul class="list-unstyled">@Recipients.findByDemand(d.id.get).map{x =>
                        <li class="@if(x.paid){text-success}else{text-danger}">
                        @{s"${x.name}"}
                        </li>
                    }
                    </ul></td>
                    <td>@d.status</td>
                    <td><a href="@routes.MakeDemand.show(d.id.getOrElse(0))">Skoða</a></td>
                </tr>
            }
        </tbody>
    </table>
}