@(theForm: Form[MakeDemand.DemandNoIds])

@import bootstrap3._
@main("Stofna"){
    @helper.form(action = routes.MakeDemand.doMakeDemand, 'id -> "demandForm") {
        <div id="message">
        </div>
        @text(theForm("amount"), label = "Upphæð", inputType = "number")
        <div class="">
        @radiobuttons(theForm("perall"), label = "", buttonList = List(("total", "Heildar"), ("per", "Á haus")), default = "total")
        </div>
        <div class="">
        @text(theForm("description"), label = "Vegna")
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Bæta við móttakanda (verður að innihalda kennitölu)</label>
            <div class="col-sm-10">
                <div class="input-group">
                <input type="text"
                class="form-control"
                id="tempRecipient"
                name="tempRecipient"/>
                <div class="input-group-btn">
                    <a href="#" id="addRecButton" class="btn btn-info" role="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                </div>
                <span class="help-block"></span>
                <span class="help-block"></span>
            </div>
        </div>

        <div id="recs">
        </div>

    <div class="pull-right">
        <input class="btn btn-primary" type="submit" value="Búa til">
    </div>
    }
}

<script type="text/javascript">

    $(document).ready(function(){

        $( "#demandForm" ).submit(function( event ) {
        var amount = $("#amount" ).val();
        var numberOfRecipients = $('div#recs' ).children().length
        if(!amount || numberOfRecipients == 0){
        $("#message" ).html('' +

        '<div class="col-sm-offset-2 col-sm-10"><div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>' +
        'Krafa verður að hafa upphæð og a.m.k. einn móttakanda.' +
        '</div></div>')
            event.preventDefault();
        }
        });

        $("#tempRecipient").keypress(function(e) {
            if(e.which == 13) {
                e.preventDefault();
                addRecipient();
            }
        });

        $("#addRecButton").click(function(e){
            addRecipient();
        });

        function addRecipient(){
            var rec = $("#tempRecipient" ).val();
            if(rec){
                $("#tempRecipient" ).val("");
                $("#recs" ).append('<div><input type="hidden" id="recipients_0_" name="recipients[0]" value="' + rec + '">' +
                '<div class="col-sm-offset-2 col-sm-10"><div class="alert alert-info"><button type="button" id="closeRec" class="close" aria-hidden="true">×</button>' +
                rec +  '<span class="pull-right recAmount text-success"></span>' +
                '</div></div></div>');
                renumber();
                resetRecAmount();
                $("#recipientsList" ).append("<li>" + rec + "</li>");
            }
        };

    $('div#recs' ).on("click","button#closeRec", function() {
        $(this ).parent().parent( ).parent().remove();
        renumber();
        resetRecAmount();
    });

        $("#amount,#peralls").change(function(){
            resetRecAmount();
        });

        function resetRecAmount() {
            var amount = $("#amount" ).val();
            var recAmount;
            var remainder = 0;
            if(isTotal()){
                var numberOfRecipients = $('div#recs' ).children().length
                recAmount = amount/numberOfRecipients;
                remainder = amount%numberOfRecipients;
            }else{
                recAmount = amount;
            }
            $('div#recs' ).children( ).children("div" ).each(function(index,val) {
                var addOne = 0;
                if(index < remainder){addOne = 1};
                $(this ).find("span.recAmount").html((Math.floor(recAmount) + addOne) + " kr. &nbsp;");
            });
            //$("span.recAmount" ).html(Math.round(recAmount) + " kr. &nbsp;");
        }

        function isTotal(){
            var pt = $('form input[type=radio]:checked' ).val()
            return pt == "total";
        }

        function renumber() {
            $('div#recs' ).children( ).children(":input").each(function(index,val) {
                $(this).attr({"id":"recipients_"+index+"_","name":"recipients["+index+"]"});
            });
        }

        $(function() {
            $( "#tempRecipient" ).autocomplete({
                source: "/tengilidir/leit",
                select: function(event, ui){
                    var nameChosen = ui.item.value;
                    $("#tempRecipient" ).val(nameChosen)
                    addRecipient();
                    $("#tempRecipient" ).val("");
                    return false;
                }
            });
        });

    });
</script>


