@(theForm: Form[MakeDemand.DemandNoIds])(implicit flash: Flash)

@import bootstrap3._
@main("Stofna"){
    @flashMessages()
    <div id="message"></div>
    @helper.form(action = routes.MakeDemand.doMakeDemand, 'id -> "demandForm") {
        <div class="row" xmlns="http://www.w3.org/1999/html">
            <div class="form-group">
                <label class="col-sm-2 control-label">Amount</label>
                <div class="col-sm-8">
                    <input type="tel"
                    class="form-control"
                    id="amount"
                    name="amount"
                    placeholder="0 $"
                    onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                    />
                    <span class="help-block"></span>
                    <span class="help-block"></span>
                </div>


                <div class="col-sm-2 checkbox-inline checkbox col-xs-10 col-xs-offset-5 col-sm-offset-0">
                    <label class="control-label">
                    <input type="checkbox" id="perPerson" name="perPerson"> Per person
                    </label>

                </div>
            </div>
        </div>
        <div class="row">
        @text(theForm("description"), label = "For", maxlength = 150, placeholder = "Description")
        </div>
        <div class="row">
        <div class="form-group">
            <label class="col-sm-2 control-label">Receiver</label>
            <div class="col-sm-10">
                <div class="input-group">
                <input type="text"
                class="form-control"
                id="tempRecipient"
                name="tempRecipient"
                placeholder="Name, e-mail and ssn"/>
                <div class="input-group-btn">
                    <a href="#" id="addRecButton" class="btn btn-info" role="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                </div>
                <span class="help-block"></span>
                <span class="help-block"></span>
            </div>
        </div>
        </div>

        <div id="recs">
        </div>

    <div class="pull-right">
        <input class="btn btn-primary" type="submit" value="Create">
    </div>
    }
}

<script type="text/javascript">

    $(document).ready(function(){

        $( "#demandForm" ).submit(function( event ) {
        var amount = $("#amount" ).val();
        var numberOfRecipients = $('div#recs' ).children().length
        if(!amount || numberOfRecipients == 0){
        $("#message" ).html('' +

        '<div class="col-sm-offset-2 col-sm-10"><div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>' +
        'A split must have at least one recipient.' +
        '</div></div>')
            event.preventDefault();
        }
        });

        $("#tempRecipient").keypress(function(e) {
            if(e.which == 13) {
                e.preventDefault();
                addRecipient();
            }
        });

        $("#addRecButton").click(function(e){
            addRecipient();
        });

        function addRecipient(){
            var rec = $("#tempRecipient" ).val();
            if(rec){
                $("#tempRecipient" ).val("");
                $("#recs" ).append('<div><input type="hidden" id="recipients_0_" name="recipients[0]" value="' + rec + '">' +
                '<div class="col-sm-offset-2 col-sm-10"><div class="alert alert-info"><button type="button" id="closeRec" class="close" aria-hidden="true">×</button>' +
                rec +  '<span class="pull-right recAmount text-success"></span>' +
                '</div></div></div>');
                renumber();
                resetRecAmount();
                $("#recipientsList" ).append("<li>" + rec + "</li>");
            }
        };

    $('div#recs' ).on("click","button#closeRec", function() {
        $(this ).parent().parent( ).parent().remove();
        renumber();
        resetRecAmount();
    });

        $("#amount,#perPerson").change(function(){
            resetRecAmount();
        });

        function resetRecAmount() {
            var amount = $("#amount" ).val();
            var recAmount;
            var remainder = 0;
            if(isTotal()){
                var numberOfRecipients = $('div#recs' ).children().length
                recAmount = amount/numberOfRecipients;
                remainder = amount%numberOfRecipients;
            }else{
                recAmount = amount;
            }
            $('div#recs' ).children( ).children("div" ).each(function(index,val) {
                var addOne = 0;
                if(index < remainder){addOne = 1};
                $(this ).find("span.recAmount").html((Math.floor(recAmount) + addOne) + " $ &nbsp;");
            });
            //$("span.recAmount" ).html(Math.round(recAmount) + " $ &nbsp;");
        }

        function isTotal(){
            return !$('#perPerson').prop('checked')
        }

        function renumber() {
            $('div#recs' ).children( ).children(":input").each(function(index,val) {
                $(this).attr({"id":"recipients_"+index+"_","name":"recipients["+index+"]"});
            });
        }

        $(function() {
            $( "#tempRecipient" ).autocomplete({
                source: "/tengilidir/leit",
                select: function(event, ui){
                    var nameChosen = ui.item.value;
                    $("#tempRecipient" ).val(nameChosen)
                    addRecipient();
                    $("#tempRecipient" ).val("");
                    return false;
                }
            });
        });

    });
</script>


