@(demand: models.Demand, isAdmin: Boolean = false)

@main("Áminning"){
    <h2>Stofnuð hefur verið áminning með eftirfarandi upplýsingum:</h2>

    <table class="table">
        <tbody>
            @for(r <- Recipients.findByDemand(demand.id.get)){
                <tr @if(demand.status != Demands.freshDemand){class="@if(r.paid){success}else{danger}"}>
                    <td>@r.name</td><td>@r.amount kr.</td>
                    <td>@if(r.paid){Greitt}else{Ógreitt}</td>
                    <td>
                    @if(isAdmin && !r.paid){
                        <a href="@routes.MakeDemand.markAsPaid(r.id.get, demand.id.get)" class="btn btn-warning btn-xs">Merkja sem greitt</a>
                    }
                    </td>

                </tr>
            }
            <tr class="active"><td>Samtals:</td><td>@demand.amount kr.</td><td></td><td></td></tr>
            <tr class="active"><td>Vegna: </td><td>@demand.description</td><td></td><td></td></tr>
        </tbody>
    </table>

    @if(demand.status == Demands.freshDemand){
        <a href="@routes.MakeDemand.cancel(demand.id.getOrElse(0))" class="btn btn-danger">Hætta við</a>


        @if(isAdmin){
            <a href="@routes.MakeDemand.setStatusToSent(demand.id.getOrElse(0))" class="btn btn-warning">Merkja sem send</a>
        }
    }else{
        <h4>Krafa hefur verið send fyrir þessa áminningu.</h4>
    }

}