@(demand: models.Demand, isAdmin: Boolean = false, isOwner: Boolean = false)(implicit flash: Flash )

@import bootstrap3._

@main("Split", isOwner){
    @flashMessages()
    <table class="table">
        <tbody>
            @for(r <- Recipients.findByDemand(demand.id)){
                <tr @if(demand.status != Demands.freshDemand){class="@if(r.paid){success}else{danger}"}>
                    <td>@r.name</td><td>@r.amount $.</td>
                    <td>@if(r.paid){Paid}else{Unpaid}</td>
                <td>
                @if(isOwner){
                    @if(!r.paid){
                        <a href="@routes.MakeDemand.markAsPaid(r.id.get, demand.id)" class="btn btn-warning btn-xs">Paid</a>
                    }else{
                        <a href="@routes.MakeDemand.markAsUnPaid(r.id.get, demand.id)" class="btn btn-danger btn-xs">Unpaid</a>
                    }
                }
                </td>

                </tr>
            }
            <tr class="active"><td>Total:</td><td>@Recipients.findByDemand(demand.id).foldLeft(0)((r,c) => r + c.amount) $.</td><td></td><td></td></tr>
            <tr class="active"><td>For: </td><td>@demand.description</td><td></td><td></td></tr>
            <tr class="active"><td>Created: </td><td>@demand.getDate</td><td></td><td></td></tr>
        </tbody>
    </table>
    @if(isOwner){
    @if(demand.status == Demands.freshDemand){
        <a href="@routes.MakeDemand.cancel(demand.id)" class="btn btn-danger">Delete</a>


        @if(isAdmin){
            <a href="@routes.MakeDemand.setStatusToSent(demand.id)" class="btn btn-warning">Mark as sent</a>
        }
    }else{
        <h4>This split has been processed.</h4>
    }
    <a id="reminderButton" class="btn btn-primary disabled" href="#">Send an e-mail reminder</a>

    <div id="reminderForm" class="hidden">

        <br>
        <h3>Send reminder</h3>
        @helper.form(action = routes.MakeDemand.sendReminder(demand.id)){
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Receiver</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text"
                            class="form-control"
                            id="tempRecipient"
                            name="tempRecipient"
                            placeholder="Name, e-mail and ssn"/>
                            <div class="input-group-btn">
                                <a href="#" id="addRecButton" class="btn btn-info" role="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>
                        <span class="help-block"></span>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>

            <div id="recs">
            </div>

            <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Message</label>
                <div class="col-sm-10">
                    <textarea class="form-control"
                    rows="3"
                    id="message"
                    name="message"
                    ></textarea>
                    <span class="help-block"></span>
                    <span class="help-block"></span>
                </div>
            </div>
            </div>

            <div class="pull-right">
                <input class="btn btn-primary" type="submit" value="Send">
            </div>
        }
    </div>
    }
}

<script type="text/javascript">

$(document).ready(function(){

    $("#reminderButton" ).click(function(e){
        $("#reminderButton" ).addClass("hidden");
        $("#reminderForm" ).removeClass("hidden");
    });

    $(function() {
        var pathArray = window.location.pathname.split( '/' );
        var id = pathArray[2].replace('#','');
        $( "#tempRecipient" ).autocomplete({
            source: "/tengilidir/aminning-leit/" + id,
            select: function(event, ui){
            var nameChosen = ui.item.value;
            $("#tempRecipient" ).val(nameChosen)
            addRecipient();
            $("#tempRecipient" ).val("");
            return false;
        }
    });
    });

    function addRecipient(){
        var rec = $("#tempRecipient" ).val();
        if(rec){
        $("#tempRecipient" ).val("");
        $("#recs" ).append('<div><input type="hidden" id="recipients_0_" name="recipients[0]" value="' + rec + '">' +
        '<div class="col-sm-offset-2 col-sm-10"><div class="alert alert-info"><button type="button" id="closeRec" class="close" aria-hidden="true">×</button>' +
        rec +  '<span class="pull-right recAmount text-success"></span>' +
        '</div></div></div>');
        renumber();
        $("#recipientsList" ).append("<li>" + rec + "</li>");
        }
    };

    function renumber() {
        $('div#recs' ).children( ).children(":input").each(function(index,val) {
        $(this).attr({"id":"recipients_"+index+"_","name":"recipients["+index+"]"});
        });
    }

    $('div#recs' ).on("click","button#closeRec", function() {
        $(this ).parent().parent( ).parent().remove();
        renumber();
    });



});

</script>



