@(theForm: Form[(String,String, String, String, String)], userList: List[models.User])(implicit flash: Flash)

@import bootstrap3._

@main("Admin"){
@flashMessages()
<a href="@routes.MakeDemand.listOfDemandsAdmin" class="btn btn-default">List of splits</a>
<div>
@helper.form(action = routes.UserControl.createUser) {
    @text(theForm("name"), label = "Name")
    @text(theForm("kennitala"), label = "Social security number")
    @text(theForm("accountNo"), label = "Account number")
    @text(theForm("email"), label = "e-mail")
    @password(theForm("password"), label = "password")

    <div class="pull-right">
        <input class="btn btn-primary" type="submit" value="Create">
    </div>
}
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
<h4>Notendur</h4>
<ul class="list-unstyled">
    @for(user <- userList){
        <li>@user.email - @user.name - @user.pass @if(user.role){ - @user.role}</li>
    }
</ul>
</div>
}