@(theForm: Form[(String,String,String, String)])(implicit flash: Flash)


@import bootstrap3._

@main("Splitter"){
    @flashMessages()
    @helper.form(action = routes.UserControl.doEditUser) {
        @text(theForm("name"), label = "Name")
        @text(theForm("kennitala"), label = "Ssn", inputType = "tel")
        @text(theForm("accountNo"), label = "Account number", inputType = "tel")
        @password(theForm("password"), label = "Password", help="Leave empty if you do not wish to change it.")

        <div class="pull-right">
            <input class="btn btn-primary" type="submit" value="Edit">
        </div>
    }
}