@(theForm: Form[(String,String,String, String)])(implicit flash: Flash)


@import bootstrap3._

@main("Memento"){
    @flashMessages()
    @helper.form(action = routes.UserControl.doEditUser) {
        @text(theForm("name"), label = "Nafn")
        @text(theForm("kennitala"), label = "Kennitala")
        @text(theForm("accountNo"), label = "Reikningsnúmer")
        @password(theForm("password"), label = "Lykilorð", help="Skildu eftir autt ef þú vilt halda lykilorði óbreyttu")

        <div class="pull-right">
            <input class="btn btn-primary" type="submit" value="Breyta">
        </div>
    }
}