@(theForm: Form[(String,String)])(implicit flash: Flash)

@import bootstrap3._


@main("Memento", false) {
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        @flashMessages()
        <div class="row">
            <img src="@routes.Assets.at("images/memento-logo-nobg.jpg")" width="140" height="140" class="center-block" alt="Lógó">
        </div>


    @helper.form(action = routes.Application.authenticate) {
        @text(theForm("email"), label = "Netfang", inputType = "email")
        @password(theForm("password"), label = "Lykilorð")

        <div class="pull-right">
            <input class="btn btn-primary" type="submit" value="Skrá inn">
        </div>

    }
    </div>
}